.CommentContainer {
    border-radius: 0px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px rgba(33,33,33,.3);
    padding-left: 0px;
    --notchSizeX: 16px;
    --notchSizeY: 8px;
}

.CommentHeader {
    background-color: #ddd;
    padding: 1px 5px 1px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 12px;    
    height: 25px;
    border-radius: 0px;
}

.CommentHeaderCaption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid blue; */
    min-width: 40px;
    flex: 0 1 80px;
}

.CommentHeaderColor {
    margin-left: auto; 
    margin-right: 0;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 100px;
    /* border: 1px solid green; */
}

.ColorField {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2px;
    flex: 1 1 90px;
    /* border: 1px solid magenta; */
    max-width: 120px;
}


.CommentHeaderColorInput {
    /* width: 80px; */
    width: 100%;
    /* max-width: 150px; */
    min-width: 50px;
    height: 18px;
    border: 0px;
    margin: 0px;
    font-size: 12px;
    flex: 1 1 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.CommentHeaderColorInput:focus {
    outline: none;
    border: 0px;
}

.CommentBody {
    padding: 3px 3px 0px 3px;
}

.CommentTextArea {
    resize: none;
    border: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Pangolin-Regular', Arial, Helvetica, sans-serif;;
    font-size: 1.05rem;
    line-height: 1.1rem;
    box-sizing: border-box;
}

.CommentTextArea:focus {
    outline: none;
    border: 0px;
}

.CommentFooterButtonDelete {
    background-color: #b99;
}

.deleteCommentBtn {
    /* background-color: rgba(255, 0, 0, 0.8); */
    background-color: rgba(0,0,0,0);
    color: red;
    margin: 2px 2px 2px 5px;
    padding: 0px;
    height: calc(100% - 2px);
    width: 20px;    
    font-size: medium;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
 