.CommentContainer {
    background-color: #fffafa;
    /* border: 1px solid blue;
    border-left: 3px solid blue;     */
    border-radius: 5px;
    margin-bottom: 5px;
    /* box-shadow: 2px 2px 2px #888888; */
    /* margin-left: -20px; */
}

.CommentHeader {
    background-color: #ddd;
    padding: 1px 5px 1px 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    height: 25px;
    border-radius: 5px 5px 0px 0px;
}

.CommentHeaderCaption {
    
}

.CommentHeaderColor {
    margin-left: auto; 
    margin-right: 0;    
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ColorField {
    background-color: white;
    display: flex;
    margin: 2px;
}


.CommentHeaderColorInput {
    width: 80px;
    height: 18px;
    border: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.CommentHeaderColorInput:focus {
    outline: none;
    border: 0px;
}

.CommentBody {
    /* border: 1px solid red; */
    /* min-height: 1em;
    padding: 1px; */
}

.CommentTextArea {
    resize: none;
    border: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.CommentTextArea:focus {
    outline: none;
    border: 0px;
}

.CommentFooter {
    background-color: #ddd;
    display: flex;
    justify-content: right;
}

.CommentFooterButton {
    display: inline-block;
    padding: 0px;
    font-size: 12px;
    margin: 3px;
    border: 1px solid #bbb;
    background-color: #bbb;    
    min-width: 50px;
    text-align: center;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
}

.CommentFooterButtonDelete {
    background-color: #b99;
}

.deleteCommentBtn {
    border: 1px soild red;
    border-radius: 10px;
    /* background-color: rgba(255, 0, 0, 0.8); */
    background-color: rgba(0,0,0,0);
    color: red;
    margin: 2px 2px 2px 5px;
    padding: 0px;
    height: calc(100% - 2px);
    width: 20px;
    font-size: medium;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}