.SaveButton {
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 5px;
    color: #555;
    padding: 3px;
    cursor: pointer;
    float: right;
    margin-left: 5px;
  }


  .FileManagerContainer {
      padding-left: 10px;
      padding-right: 0px;
      overflow:hidden;
  }

  .DocsDropdown {
    padding: 4px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #555;
  }

  input::-webkit-calendar-picker-indicator {
    opacity: 100;
    background-color: inherit;
 }

  /* To avoid the weird surrounding outline on focus */
  .DocsDropdown:focus {
    outline: none;
    border:none;
    box-shadow: 0 0 10px #567;
  }
