.FileManagerContainer {
    width: 100%;
    height: 30px;
    display: flex;
    /* border: 1px solid red; */
    overflow: visible;
    font-family: "Arvo-Bold";
}

.selectDropdown {
    /* font-size: 14px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 320px;
    
}

.SaveButton {
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 5px;
    color: #333;
    padding: 5px 8px 5px 8px;
    cursor: pointer;
    float: right;
    margin-left: 5px;
    text-align: center;
    height: 100%;
    align-items: center; /* align vertical */
  }

  .btnDisabled {
      cursor: not-allowed;
      color: #aaa;
  }