.RichEditor-styleButton {
    color: #555;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;    
    background-color: lightgray;
  }


.RichEditor-activeButton {
    color: skyblue;
    background-color: #555;
}

.RichEditor-disabledButton {
  cursor: not-allowed;
  background-color: #ddd;
  color: #888;
}