.App {
  /* border: 1px solid red; */
  height: calc(100vh);
  overflow-y: hidden;
}

.AppHeader {
  font-size: 24px;
  padding: 8px;
  font-weight: 500;
  background-color: #555;
  color: #ccc;
  font-family: 'Arvo-Bold';
  display: grid;
  grid-template-columns: 4fr 1fr 6fr;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.AppTitleText {
  padding-left: 10px;
  align-items: center; /* align vertical */
}

@font-face {
  font-family: 'Arvo-Bold';
  src: local('Arvo-Bold'), url(./fonts/Arvo-Bold.ttf) format('opentype');
}

.SettingsArea {
  align-items: center;
  font-family: 'Segoe UI', serif;
  font-size: 15px;
  padding-right: 10px;
  margin-left: auto; margin-right: 0;
}
