.draftToolBar {
  background-color: #eee;
  padding: 5px;
  height: var(--toolbarHeight);
  display: flex;
  min-width: 360px;
}

.blockInlineContainer {
  display: flex;
}

/*Add top padding to offset the fixed title bar*/
.RichEditor-root {
    /* background-color: rgba(255, 255, 255, 1); */
    /* border: 1px solid #ddd; */
    /* border: 3px solid green; */
    border: none;
    font-family: 'Segoe UI', serif;
    font-size: 14px;
    padding: 0px;
    padding-top: 3.3em;
    /* height: calc(100vh); */
    height: 100%;
    --toolbarHeight: 40px;
    min-width: 360px;
  }
  
  .RichEditor-editor {
    /* border-top: 1px solid #ddd; */
    cursor: text;
    font-size: 16px;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 1px;
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    /* margin: -15px -15px -15px -15px;
    padding: 15px; */
    /* border: 1px solid pink; */
    border: 0px;
    border-style: none;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
    padding-top: 5px;
    /* padding-right: 50px; */
  }

  .RichEditor-editor .public-DraftEditor-content span{
    line-height: 1.0
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #ccc;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
    font-weight: 600;
    font-family: 'Arvo-Bold';
  }
  

  .EditorAndCommentContainer {
    display: grid;
    grid-template-columns: 4fr minmax(150px, 2fr);
    overflow: auto;
    border: 1px solid lightgray;
    height: calc(100% - var(--toolbarHeight));
    padding: 10px 10px 0px 0px;
    /* height: calc(100% - 110px); */
  }

  .CommentAreaContainer {
    /* background-color: rgba(255, 248, 220, 0.3);  */
    padding: 1px;    
  }

.svgContainer {
  border: 1px solid purple;
  /* position: absolute; */
  /* height: calc(100% - var(--toolbarHeight) - 4em); */
}


@media only screen and (max-width: 700px) {
  .RichEditor-root {
    --toolbarHeight: 75px;
  }

  .blockInlineContainer {
    flex: 100%;
  }

  .draftToolBar {
    display: block;
  }
}