.NoobAnnotatorContainer
{
    border: 1px solid lightgray;
    cursor: text;
    min-height: 6em;

    /* height: 100px;
    width: 100px; */
}

.NoobAnnotator {
}

.draftToolBar {
  background-color: #eee;
  padding: 5px;
  height: var(--toolbarHeight);
}

/*Add top padding to offset the fixed title bar*/
.RichEditor-root {
    background: #fff;
    /* border: 1px solid #ddd; */
    border: 3px solid green;
    font-family: 'Segoe UI', serif;
    font-size: 14px;
    padding: 0px;
    padding-top: 3.3em;
    height: calc(100vh);
    --toolbarHeight: 110px;
  }
  
  .RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    /* margin: 0 -15px -15px; */
    /* padding: 15px; */
    /* border: 1px solid red; */
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #ccc;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }
  

  .EditorAndCommentContainer {
    display: grid;
    grid-template-columns: auto 300px;
    overflow: auto;
    border: 1px solid red;
    height: calc(100% - var(--toolbarHeight));
    padding-top: 10px;
    /* height: calc(100% - 110px); */
  }

  .CommentAreaContainer {
    background-color: honeydew;
    padding: 1px;
  }

.svgContainer {
  border: 1px solid purple;
  /* position: absolute; */
  /* height: calc(100% - var(--toolbarHeight) - 4em); */
}